.gallery-logo{
    width: 100%;
    min-width: 1440px;
    text-align: center;
    margin-top: 80px;
}
.gallery-high{
    width: 100%;
    min-width: 1440px;
    margin-top: 80px;
    text-align: center;
}

.gallery-middle{
    width: 100%;
    min-width: 1440px;
    text-align: center;
    margin-top: 50px;
}

.gallery-low{
    width: 100%;
    min-width: 1440px;
    text-align: center;
    margin-top: 50px;
}

.gallery-video{
    width: 100%;
    min-width: 1440px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 200px;
}