.main{
    height: 800px;
    margin-top: 300px;
    text-align: center;
}
.main .title{
    font-family: corporate-logo-ver2, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 3px;
}

.main p{
    font-family: zen-kaku-gothic-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
}