p{
    font-family: zen-kaku-gothic-new, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.member-main{
    height: 2500px;
    width: 100%;
    min-width: 1440px;
    margin-top: 300px;
    text-align: center;
    margin-bottom: 250px;
}

.member-txt{
    margin-top: 50px;
    margin-bottom: 200px;
}

.member-txt p{
    font-family: zen-kaku-gothic-new, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

.sp-member-main{
    display: none;
}

@media screen and (max-width: 640px) {

    body{
        background-color: rgba(0, 49, 82, 0.849);
    }

    .member-main{
        display: none;
    }

    .sp-member-main{
        display: block;
    }

    .sp-member-main{
        margin-top: 250px;
        text-align: center;
    }

    .sp-member-txt{
        margin-top: 80px;
        margin-bottom: 150px;
        font-family: zen-kaku-gothic-new, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        opacity: 0.7;
    }

    
    
}