p{
    font-family: zen-kaku-gothic-new, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.member-main{
    height: 3000px;
    width: 100%;
    min-width: 1440px;
    margin-top: 300px;
    text-align: center;
    margin-bottom: 250px;
}

.member-txt{
    margin-top: 50px;
    margin-bottom: 200px;
}

.member-txt p{
    font-family: zen-kaku-gothic-new, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}